<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<div class="container" >
  <!-- <app-home></app-home> -->

  <a [routerLink]="['/home']" routerLinkActive="router-link-active"
    >trang home</a
  >
  &nbsp; &nbsp;
  <a [routerLink]="['/about']" routerLinkActive="router-link-active"
    >trang about</a
  >
  &nbsp; &nbsp;
  <a [routerLink]="['/register']" routerLinkActive="router-link-active"
    >trang đăng ký</a
  >
  &nbsp; &nbsp;
  <a [routerLink]="['/game']" routerLinkActive="router-link-active"
    >trang game</a
  >
  <!-- &nbsp;
        &nbsp;
        <a [routerLink]="['/add']" routerLinkActive="router-link-active">trang thêm</a>
        &nbsp;
        &nbsp;
        <a [routerLink]="['/edit/:id']" routerLinkActive="router-link-active">trang sửa</a> -->
  &nbsp; &nbsp;
  <a [routerLink]="['/product']" routerLinkActive="router-link-active"
    >trang danh sách</a
  >
  &nbsp; &nbsp;
  <a [routerLink]="['/book']" routerLinkActive="router-link-active"
    >trang book</a
  >
  <br />
  <hr />
  <br />
 
  <router-outlet></router-outlet>

</div>
